.jumbotron {
  background-color: #4a8f53;
  color: white;
  text-align: center;
}
.btn {
  border-radius: 0;
  width: 100%;
}
.imagen {
  height: 25%;
  width: 100%;
}
.card-footer {
  text-align: right;
}
.card-img-top {
  border-radius: 50%;
}
.card-destino {
  flex: 1 50px;
  padding: 10px 0px 2px 0px;
}
.footer-icon {
  padding: 5px 10px 5px 0px;
  color: blue;
}
.oi-star {
  color: rgba(255, 255, 0, 0.767);
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #818181;
  color: white;
}
